{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}


{% block body %}
  <div class="container pt-4 pb-4">
      <h1 class="h1">About</h1>
  <div class="row">
    <div class="col-md-4">
      <img src="{{ asset('img/about.png') }}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-8 text">
Cras condimentum posuere libero, eget placerat ipsum viverra sed. Duis condimentum justo id dui consequat, in tempus metus blandit. Ut sodales ante malesuada, congue dui eu, laoreet sem. Integer iaculis metus nunc, non tempus elit dictum ut. Mauris ac elit feugiat, mattis sapien dignissim, dapibus urna. Maecenas cursus odio euismod libero ornare consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec convallis urna lectus, in laoreet magna dictum ac. Mauris fermentum, velit semper vulputate hendrerit, nulla mi suscipit nisl, id hendrerit nisi mauris nec sapien. Praesent mollis velit urna, vitae molestie mauris vestibulum a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed mollis consectetur mauris.
    </div>

  </div>
  </div>
{% endblock %}
{% block javascripts %}
{% endblock %}